@import url("estilos.css");
@import url("briefcase.css");

.information {
  width: 1090px;
  height: 550px;
  background: var(--blanco);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 70% 10%;
  grid-template-areas:
    "header header"
    "picture data"
    "footer footer";
}

/* --------------Picture columna 1--------- */

.picture {
  display: flex;
  background: url("../img/me.jpeg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.picture:hover p {
  top: 0;
}

.picture p {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #61b1ee;
  font-size: 1em;
  opacity: 0.8;
  position: relative;
  top: 100%;
  color: #fff;
  transition: all 0.5s;
}

/* -----------------Data columna 2------------ */

.data {
  padding: 0 3em;
}

h2 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 27px;
  padding: 1em;
  color: #bababa;
}

.data p {
  color: var(--azulOscuro);
  font-size: 20px;
  font-family: "Zilla Slab", serif;
}
.fa-js {
  color: #f3cf01;
  background: #000;
  margin: 0 20px;
}
.fa-php {
  background: #7377ad;
  color: #000;
  margin: 0 18px;
}
.fa-java {
  color: #2e6ab2;
  margin: 0 20px;
}
.fa-css3-alt {
  color: #2e6ab2;
  margin: 0 20px;
}
.fa-html5 {
  color: #dd4b25;
  margin: 0 20px;
}
.fa-github {
  margin: 0 18px;
}
.data p img {
  width: 20px;
  margin: 0 17px;
}

/* ---------Media Queries------ */
@media screen and (max-width: 1063px) {
  h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 672px) {
  .information {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 60% 65% 10%;
    grid-template-areas:
      "header"
      "picture"
      "data"
      "footer";
  }

  header img {
    width: 70px;
  }

  .picture {
    grid-area: picture;
  }
  .data {
    grid-area: data;
  }
  .data h2 {
    font-size: 23px;
  }
  .footer {
    grid-area: footer;
  }
}
@media screen and (max-width: 429px) {
  .information {
    grid-template-columns: 1fr;
    grid-template-rows: 12% 60% 50% 10%;
    grid-template-areas:
      "header"
      "picture"
      "data"
      "footer";
  }
  .data h2 {
    font-size: 14px;
  }
}
