@import url("estilos.css");

.container-briefcase {
  width: 1090px;
  height: 550px;
  background: url("../img/global.jpg") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 19% 71% 10%;
  grid-template-areas:
    "header"
    "portafolio"
    "footer";
}

header {
  grid-area: header;
  padding: 35px 0 20px 70px;
}
header img {
  width: 150px;
}
header .item {
  float: right;
  padding-top: 5px;
  margin-right: 60px;
}

header .item li {
  display: inline-block;
}
header .item li a {
  font-family: "Zilla Slab", serif;
  font-size: 18px;
  font-weight: 400;
  color: #2a95e5;
  padding: 0 20px;
}
header .item li a:hover {
  color: var(--azulOscuro);
}
/* ------------Portafolio------------ */
.briefcase {
  width: 80%;
  margin: auto;
  display: grid;
  grid-area: portafolio;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: "item item2 item3" "item4 item5 item6";
}

.container-item {
  text-align: center;
  background: #61b1ee;
  opacity: 0.9;
  padding: 10px;
}

.container-item img {
  width: 150px;
  height: 90px;
}
.container-item a {
  display: block;
  color: var(--blanco);
  font-weight: 600;
  font-family: "Zilla Slab", serif;
  font-weight: 200px;
}
.container-item p {
  color: var(--blanco);
}

/* --------pie de página---------- */
.footer {
  grid-area: footer;
  text-align: center;
  color: var(--blanco);
  background: var(--azulOscuro);
  opacity: 0.9;
  padding: 15px 0;
}
/*---------Media Queries---------- */

@media screen and (max-width: 1081px) {
  .container-briefcase {
    background: var(--blanco);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "header"
      "portafolio"
      "footer";
  }
  .briefcase {
    width: 100%;
    background: url("../img/global.jpg") no-repeat;
    background-size: cover;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-area: "item item2" "item3 item4" "item5 item6";
  }
}
@media screen and (max-width: 672px) {
  header {
    grid-area: header;
    padding: 15px 35px;
  }
  header img {
    width: 70px;
  }
  .menu {
    float: right;
    padding: 10px 10px 0 0;
  }
  .menu i {
    padding: 0;
  }
  .menu {
    float: right;
  }
  header .item {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .briefcase {
    width: 100%;
    background: url("../img/global.jpg") no-repeat;
    background-size: cover;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-area: "item" "item2" "item3" "item4" "item5" "item6";
  }
}
