@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Roboto+Slab:wght@900&family=Zilla+Slab:wght@300&display=swap");
:root {
  --azulOscuro: #162e3e;
  --blanco: #fff;
}
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.contenedor {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: #e2e2e2;
  justify-content: center;
  align-items: center;
}
.contenedor-web {
  width: 80%;
  height: 540px;
  background: var(--blanco);
  display: grid;
  /* p: 20px; */
  grid-template-columns: 30% 15% 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "contenedor1 contenedor2 contenedor3"
    "footer footer footer";
}
/* -----------CONTENEDOR 1------------------- */
.contenedor1 {
  grid-area: contenedor1;
  grid-column: 1/3;
  padding: 35px 0 35px 70px;
}

.contenedor1-contenido img {
  width: 150px;
}

.contenedor-texto {
  padding: 25% 0 20% 0;
}

p {
  font-family: "EB Garamond", serif;
  font-size: 18px;
}
h3 {
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  color: var(--azulOscuro);
  letter-spacing: 1.5px;
}
.redes-sociales {
  padding: 20px 0;
}
.redes-sociales a {
  padding-right: 10px;
}
.fa-whatsapp-square {
  color: #25d366;
}
.fa-facebook-square {
  color: #1877f2;
}

.fa-youtube {
  color: #ff0000;
}
/* -----------CONTENEDOR 2------------------- */
.contenedor2 {
  grid-area: contenedor2;
  background: url("../img/degradado.png") no-repeat;
  background-size: 250px 480px;
}
/* -----------CONTENEDOR 3------------------- */

.contenedor3 {
  grid-area: contenedor3;
  background: url("../img/fondo.png") left;
  background-size: cover;
}
.item-menu {
  text-align: right;
  padding-top: 40px;
  width: 90%;
}
.menu {
  display: none;
}
.item-menu li {
  display: inline-block;
}
.item-menu li a {
  font-family: "Zilla Slab", serif;
  font-size: 17px;
  color: var(--blanco);
  padding: 0 20px;
}
.programmer {
  text-align: left;
  padding: 50px 0;
}
.programmer img {
  width: 360px;
}

footer {
  width: 100%;
  grid-area: footer;
  text-align: center;
  display: block;
  color: #8e8e8e;
  padding: 20px 0;
  background: #e2e2e2;
}

/* ---------------Media Queries------------- */
@media screen and (max-width: 480px) {
  .contenedor-web {
    width: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
      "contenedor3"
      "contenedor1"
      "contenedor2"
      "footer";
  }
  .contenedor3 {
    grid-area: contenedor3;
  }
  .contenedor1 {
    grid-area: contenedor1;
  }
  .contenedor2 {
    grid-area: contenedor2;
  }

  /*-------------contenedor3------------- */
  .contenedor3 {
    grid-area: contenedor3;
    background: none;
  }
  .menu {
    display: block;
    padding: 20px 40px;
  }

  .menu img {
    width: 70px;
  }
  .menu i {
    float: right;
    color: #2a95e5;
  }
  .item-menu {
    display: none;
  }
  .programmer {
    background: url("../img/fondo2.png") no-repeat;
    background-size: 480px;
    text-align: center;
  }
  /*-------------contenedor1------------- */
  .contenedor1 {
    text-align: center;
    padding: 0 20px;
  }
  .contenedor1-contenido img {
    display: none;
  }

  h3 {
    font-size: 33px;
  }
}
@media screen and (max-width: 600px) {
  .contenedor-web {
    width: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
      "contenedor3"
      "contenedor1"
      "contenedor2"
      "footer";
  }
  .contenedor1 {
    grid-area: contenedor1;
  }
  .contenedor3 {
    grid-area: contenedor3;
    background: none;
  }
  .menu {
    display: block;
    padding: 20px 40px;
  }
  .menu i {
    float: right;
    color: #2a95e5;
  }
  .menu img {
    width: 70px;
  }
  .item-menu {
    display: none;
  }

  .programmer {
    background: url("../img/fondo2.png") no-repeat;
    background-size: 600px;
    text-align: center;
  }
  /*------------------- contenedor 1 -------------*/
  .contenedor1-contenido img {
    display: none;
  }
  /* .contenedor1 {
    text-align: left;
    padding: 0 50px;
  } */
  h3 {
    font-size: 36px;
  }
}
